Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "10...100"

  status:
    project:
      default: false
      aggregator:
        flags:
          - aggregator
        if_not_found: success
        if_ci_failed: error
      infoblox:
        flags:
          - infoblox
        if_not_found: success
        if_ci_failed: error
      api:
        flags:
          - api
        if_not_found: success
        if_ci_failed: error
      labsdb:
        flags:
          - labsdb
        if_not_found: success
        if_ci_failed: error
      management:
        flags:
          - management
        if_not_found: success
        if_ci_failed: error
      nlyte:
        flags:
          - nlyte
        if_not_found: success
        if_ci_failed: error
      poweriq:
        flags:
          - poweriq
        if_not_found: success
        if_ci_failed: error
      vc:
        flags:
          - vc
        if_not_found: success
        if_ci_failed: error
      vro:
        flags:
          - vro
        if_not_found: success
        if_ci_failed: error
    patch: off
    changes: no

flags:
  aggregator:
    paths:
      - aggregator/
    carryforward: true
  infoblox:
    paths:
      - infoblox-worker/
    carryforward: true
  api:
    paths:
      - flowgate-api/
    carryforward: true
  labsdb:
    paths:
      - labsdb-worker/
    carryforward: true
  management:
    paths:
      - management/
    carryforward: true
  nlyte:
    paths:
      - nlyte-worker/
    carryforward: true
  poweriq:
    paths:
      - poweriq-worker/
    carryforward: true
  vc:
    paths:
      - vc-worker/
    carryforward: true
  vro:
    paths:
      - vro-worker/
    carryforward: true

parsers:

  gcov:

    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

Optimize TranslateFunction
  flowgate-api/src/main/java/com/vmware/flowgate/service/TranslateFunctionService.java
  flowgate-api/src/test/java/com/vmware/flowgate/service/TranslateFunctionServiceTest.java
Due: api

Optimize TranslateFunction
  flowgate-api/src/main/java/com/vmware/flowgate/service/TranslateFunctionService.java
Due: api

delete error/logs
  aggregator/aggregator-error.2021-04-01.gz
  aggregator/aggregator-error.2021-04-02.gz
  aggregator/aggregator-error.2021-04-07.gz
  aggregator/aggregator-error.2021-04-08.gz
  aggregator/aggregator-error.2021-04-09.gz
  aggregator/aggregator-error.2021-04-12.gz
  aggregator/aggregator-error.2021-04-13.gz
  aggregator/aggregator-error.2021-04-14.gz
  aggregator/aggregator-error.2021-04-15.gz
  aggregator/aggregator-error.2021-04-16.gz
  aggregator/aggregator-error.2021-04-19.gz
  aggregator/aggregator-error.2021-04-20.gz
  aggregator/aggregator-error.2021-04-21.gz
  aggregator/aggregator-error.2021-04-22.gz
  aggregator/aggregator-error.2021-04-23.gz
  aggregator/aggregator-error.log
  aggregator/aggregator-info.2021-04-01.gz
  aggregator/aggregator-info.2021-04-02.gz
  aggregator/aggregator-info.2021-04-07.gz
  aggregator/aggregator-info.2021-04-08.gz
  aggregator/aggregator-info.2021-04-09.gz
  aggregator/aggregator-info.2021-04-12.gz
  aggregator/aggregator-info.2021-04-13.gz
  aggregator/aggregator-info.2021-04-14.gz
  aggregator/aggregator-info.2021-04-15.gz
  aggregator/aggregator-info.2021-04-16.gz
  aggregator/aggregator-info.2021-04-19.gz
  aggregator/aggregator-info.2021-04-20.gz
  aggregator/aggregator-info.2021-04-21.gz
  aggregator/aggregator-info.2021-04-22.gz
  aggregator/aggregator-info.2021-04-23.gz
  aggregator/aggregator-info.log
Due: aggregator

fix bugs
  aggregator/aggregator-error.log
  aggregator/aggregator-info.log
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/VCenterJobDispatcher.java
Due: aggregator

fix bugs
  aggregator/aggregator-error.log
  aggregator/aggregator-info.log
Due: aggregator

get metrics data for pdu
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Add test cases for getMetric function
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Add extraidentifier for server voltage
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: vc

Create run time formula key for server's pduFormula
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
Due: api

Add extraidentifier for server voltage
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: vc

Upgrade the commons-io to 2.7 to fix the security vulnerability
  flowgate-api/pom.xml
Due: api

Get metric datas by other asset
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Modify the getAssetMetricsData API to obtain current metric data for server
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Modify the getAssetMetricsData API to obtain current metric data for pdu
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

filter energy consumption
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/CompareValueUnit.java
  flowgate-api/src/test/java/com/vmware/flowgate/util/FilterServerEnergyConsumptionTest.java
Due: api

Add empty function map for sensor
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/TranslateFunctionService.java
Due: api

Save pdu formula
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/AggregatorServiceTest.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncPduAssetJobTest.java
Due: aggregator, nlyte, poweriq

Save sensor formula
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncSensorMetaDataJobTest.java
Due: poweriq

signed off by
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
Due: aggregator

Modify the getAssetMetricsData API to obtain current metric data for other
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

merge commit and signed off
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  flowgate-api/flowgate-api-info.2021-04-29.gz
  flowgate-api/flowgate-api-info.log
Due: aggregator, api

Fix a ui security vulnerability about ssri
  ui/package-lock.json
  ui/package.json
Due: none

Update initData.sh
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  make/database/initData.sh
Due: api

Add a new API to get metric duration data
  flowgate-api/src/docs/asciidocs/api-guide.adoc
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Filter server enery consmuption
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/CompareValueUnit.java
  flowgate-api/src/test/java/com/vmware/flowgate/util/FilterServerEnergyConsumptionTest.java
Due: api

Add description for resquest parameter
  flowgate-api/src/docs/asciidocs/api-guide.adoc
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Update api doc getAssetMetricsData API description
  flowgate-api/src/docs/asciidocs/api-guide.adoc
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Initial commit
  README.md
Due: none

temp sample
  samples/gltf/.gitignore
  samples/gltf/app/.gitignore
  samples/gltf/app/build.gradle
  samples/gltf/app/proguard-rules.pro
  samples/gltf/app/src/main/AndroidManifest.xml
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/res/drawable-xxhdpi/ic_launcher.png
  samples/gltf/app/src/main/res/drawable/rounded_bg.xml
  samples/gltf/app/src/main/res/layout/activity_ux.xml
  samples/gltf/app/src/main/res/layout/card_view.xml
  samples/gltf/app/src/main/res/values/strings.xml
  samples/gltf/app/src/main/res/values/styles.xml
  samples/gltf/build.gradle
  samples/gltf/gradle.properties
  samples/gltf/gradle/wrapper/gradle-wrapper.jar
  samples/gltf/gradle/wrapper/gradle-wrapper.properties
  samples/gltf/gradlew
  samples/gltf/gradlew.bat
  samples/gltf/settings.gradle
Due: none

update the way to place renderable
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
Due: none

change some function names
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/YUV420toBitmap.java
Due: none

add: acquire camera image and covert to bitmap
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GetBitmap.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
Due: none

Update README.md
  README.md
Due: none

add scan barcode & auto focus
  samples/gltf/app/build.gradle
  samples/gltf/app/src/main/AndroidManifest.xml
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/BarcodeScan.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/YUV420toByteArray.java
  samples/gltf/app/src/main/res/drawable/rounded_bg.xml
Due: none
