Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

test codecov
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  codecov.yml
Due: aggregator

Update parent info for asset
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/common/HandleAssetUtil.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
Due: nlyte

Fix Asset controller error
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/exception/WormholeRequestException.java
  flowgate-api/src/main/java/com/vmware/flowgate/security/service/PrepareSecurityMetadataSourceService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/util/PredefinedDataLoader.java
Due: api

Fix other controllers error
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AuthController.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilitySoftwareController.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/SDDCSoftwareController.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/SensorSettingController.java
Due: api

Fix Asset controller test error
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AuthControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilitySoftwareControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/SDDCSoftwareControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/SensorSettingControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/SystemSummaryTest.java
Due: api

Upgrade version of spring boot for all modlues
  aggregator/pom.xml
  common-restclient/pom.xml
  flowgate-common/pom.xml
  infoblox-worker/pom.xml
  labsdb-worker/pom.xml
  management/pom.xml
  nlyte-worker/pom.xml
  poweriq-worker/pom.xml
  vc-worker/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: aggregator, infoblox, labsdb, management, nlyte, poweriq, vc, vro

Use jedis client
  aggregator/src/main/resources/application.properties
  infoblox-worker/pom.xml
  infoblox-worker/src/main/resources/application.properties
  labsdb-worker/pom.xml
  labsdb-worker/src/main/resources/application.properties
  nlyte-worker/pom.xml
  nlyte-worker/src/main/resources/application.properties
  poweriq-worker/pom.xml
  poweriq-worker/src/main/resources/application.properties
  vc-worker/pom.xml
  vc-worker/src/main/resources/application.properties
  vro-worker/pom.xml
  vro-worker/src/main/resources/application.properties
Due: aggregator, infoblox, labsdb, nlyte, poweriq, vc, vro

config the couchbase connect timeout
  flowgate-api/src/main/resources/application.properties
Due: api

Fix security vulnerabilities
  flowgate-api/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: api, vro

Count number of chassis
  flowgate-api/src/main/java/com/vmware/flowgate/service/SummaryService.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/NlyteSummary.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/SystemSummary.java
Due: api

Show chassis number
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.html
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.ts
Due: none

Fix can't map back humidity sensor
  ui/src/app/pages/servermapping/servermapping.component.ts
Due: none

Upgrade quartz
  aggregator/pom.xml
Due: aggregator

use fixed images of database
  make/build.sh
  make/maven-docker-build/docker-compose.build.images.yml
Due: none

trigger all workflow when pr
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
Due: none

Upgrade flowgate version to 1.1.2
  aggregator/pom.xml
  common-restclient/pom.xml
  flowgate-api/pom.xml
  flowgate-common/pom.xml
  infoblox-worker/pom.xml
  labsdb-worker/pom.xml
  management/pom.xml
  nlyte-worker/pom.xml
  poweriq-worker/pom.xml
  vc-worker/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

Fix ui vulns
  ui/package-lock.json
  ui/package.json
Due: none

Change ui version to 1.1.2
  ui/.angular-cli.json
Due: none

add build database
  make/build.sh
Due: none

Upgrade the version of bcprov-jdk15on in vc-worker
  vc-worker/pom.xml
Due: vc

update gosu version to latest
  make/redis/Dockerfile
Due: none

Modify the comment message
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
Due: nlyte, poweriq

Create data model for adapter type
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/AdapterJobCommand.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/AdapterType.java
Due: none

add infoblox validateFacilityServer , fix throw exception
  flowgate-api/src/main/java/com/vmware/flowgate/auth/InfobloxAuth.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/ServerValidationService.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/service/InfobloxClient.java
Due: infoblox, api

Fix chassis slots is empty
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/common/HandleAssetUtil.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
Due: nlyte

Fix a security vulnerability about ui
  ui/package-lock.json
Due: none

ui module
  ui/src/app/pages/setting/component/asset-modules/asset.module.ts
  ui/src/app/pages/setting/component/asset-modules/assetrealtimedataspec.module.ts
  ui/src/app/pages/setting/component/asset-modules/assetstatus.module.ts
Due: none

Update capacity
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/common/HandleAssetUtil.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
Due: nlyte

Update data model
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilitySoftwareControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/SDDCSoftwareControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/FacilityAdapter.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/FacilitySoftwareConfig.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/SDDCSoftwareConfig.java
Due: api

add assetmanagement of setting
  ui/src/app/pages/nav/nav.component.html
  ui/src/app/pages/nav/nav.component.ts
  ui/src/app/pages/setting/component/asset-add/asset-add.component.html
  ui/src/app/pages/setting/component/asset-add/asset-add.component.scss
  ui/src/app/pages/setting/component/asset-add/asset-add.component.ts
  ui/src/app/pages/setting/component/asset-edit/asset-edit.component.html
  ui/src/app/pages/setting/component/asset-edit/asset-edit.component.scss
  ui/src/app/pages/setting/component/asset-edit/asset-edit.component.ts
  ui/src/app/pages/setting/component/asset-list/asset-list.component.html
  ui/src/app/pages/setting/component/asset-list/asset-list.component.scss
  ui/src/app/pages/setting/component/asset-list/asset-list.component.ts
  ui/src/app/pages/setting/setting.module.ts
  ui/src/app/pages/setting/setting.routing.ts
  ui/src/app/pages/setting/setting.service.ts
Due: none

Add user guide document link
  README.md
Due: none

Update README.md
  README.md
Due: none

Create some APIs for adapter type
  flowgate-api/src/docs/asciidocs/api-guide.adoc
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilityAdapterController.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/FacilityAdapterRepository.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilityAdapterControllerTest.java
Due: api

Dynamically calculate the item number of predefined data in database start up script.
  make/database/init.sh
Due: none

Path conditions:
  aggregator: any of: aggregator/
  infoblox: any of: infoblox-worker/
  api: any of: flowgate-api/
  labsdb: any of: labsdb-worker/
  management: any of: management/
  nlyte: any of: nlyte-worker/
  poweriq: any of: poweriq-worker/
  vc: any of: vc-worker/
  vro: any of: vro-worker/
