Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

Add the loading step when query API in all list pages
  ui/src/app/pages/facility/component/cmdb/cmdb-list/cmdb-list.component.html
  ui/src/app/pages/facility/component/cmdb/cmdb-list/cmdb-list.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.html
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-list/vmware-config-list.component.html
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-list/vmware-config-list.component.ts
  ui/src/app/pages/user/component/role-list/role-list.component.html
  ui/src/app/pages/user/component/role-list/role-list.component.ts
  ui/src/app/pages/user/component/user-list/user-list.component.html
  ui/src/app/pages/user/component/user-list/user-list.component.ts
Due: none

Fix a security vulnerability for ui
  ui/package-lock.json
Due: none

Enhance the test cases of insert realtimedatas
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilityAdapterControllerTest.java
Due: api

scan QR codes
  FlowAR/AppDelegate.swift
  FlowAR/Base.lproj/Main.storyboard
  FlowAR/ViewController.swift
Due: none

show plane and id
  FlowAR/Base.lproj/Main.storyboard
  FlowAR/ViewController.swift
Due: none

temp sample
  samples/gltf/.gitignore
  samples/gltf/app/.gitignore
  samples/gltf/app/build.gradle
  samples/gltf/app/proguard-rules.pro
  samples/gltf/app/src/main/AndroidManifest.xml
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/res/drawable-xxhdpi/ic_launcher.png
  samples/gltf/app/src/main/res/drawable/rounded_bg.xml
  samples/gltf/app/src/main/res/layout/activity_ux.xml
  samples/gltf/app/src/main/res/layout/card_view.xml
  samples/gltf/app/src/main/res/values/strings.xml
  samples/gltf/app/src/main/res/values/styles.xml
  samples/gltf/build.gradle
  samples/gltf/gradle.properties
  samples/gltf/gradle/wrapper/gradle-wrapper.jar
  samples/gltf/gradle/wrapper/gradle-wrapper.properties
  samples/gltf/gradlew
  samples/gltf/gradlew.bat
  samples/gltf/settings.gradle
Due: none

data model
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/EsxiMetadata.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/HostInfo.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/HostNic.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/VCConstants.java
Due: vc

add mac address save
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/AssetIPMapping.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/InfoBloxResult.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/Infoblox.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/service/InfobloxClient.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: infoblox

host realtime data model
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/HostRealtimeData.java
Due: vc

Add mac address for save
  common-restclient/src/main/java/com/vmware/flowgate/client/WormholeAPIClient.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/AssetIPMapping.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/InfoBloxResult.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/Infoblox.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/service/InfobloxClient.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: infoblox, api

getFlowgateToken function
  FlowAR.xcodeproj/project.pbxproj
  FlowAR/FlowgateClient.swift
Due: none

fix bug to get token
  FlowAR/FlowgateClient.swift
  FlowAR/Info.plist
  FlowAR/ViewController.swift
Due: none

define vc cron job
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/VCenterJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/metadata/PredefinedSDDCJobs.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/impl/EventMessageUtil.java
Due: aggregator

change structure
  FlowAR/FlowgateClient.swift
  FlowAR/ViewController.swift
Due: none

Change the alter type
  ui/src/app/pages/facility/component/cmdb/cmdb-list/cmdb-list.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-list/vmware-config-list.component.ts
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.ts
  ui/src/app/pages/user/component/user-add/user-add.component.ts
  ui/src/app/pages/user/component/user-list/user-list.component.ts
Due: none

Modify the pages include edit user and role page and user profile page
  ui/src/app/pages/user/component/role-list/role-list.component.html
  ui/src/app/pages/user/component/role-list/role-list.component.ts
  ui/src/app/pages/user/component/user-add/user-add.component.html
  ui/src/app/pages/user/component/user-add/user-add.component.ts
  ui/src/app/pages/user/component/user-edit/user-edit.component.html
  ui/src/app/pages/user/component/user-edit/user-edit.component.ts
  ui/src/app/pages/user/component/user-list/user-list.component.ts
  ui/src/app/pages/user/component/user-profile/user-profile.component.html
  ui/src/app/pages/user/component/user-profile/user-profile.component.ts
Due: none

show flowgate value
  FlowAR/FlowgateClient.swift
  FlowAR/ViewController.swift
Due: none

update the way to place renderable
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
Due: none

add: acquire camera image and covert to bitmap
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GetBitmap.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
Due: none

change some function names
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/YUV420toBitmap.java
Due: none

detect image
  FlowAR.xcodeproj/project.pbxproj
  FlowAR/Additional View Controllers/StatusViewController.swift
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/2801605067058_.pic_hd.arreferenceimage/2801605067058_.pic_hd.jpg
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/2801605067058_.pic_hd.arreferenceimage/Contents.json
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/Contents.json
  FlowAR/Assets.xcassets/Contents.json
  FlowAR/Assets.xcassets/restart.imageset/Contents.json
  FlowAR/Assets.xcassets/restart.imageset/refresh@2x.png
  FlowAR/Assets.xcassets/restart.imageset/refresh@3x.png
  FlowAR/Assets.xcassets/restartPressed.imageset/Contents.json
  FlowAR/Assets.xcassets/restartPressed.imageset/refreshPressed@2x.png
  FlowAR/Assets.xcassets/restartPressed.imageset/refreshPressed@3x.png
  FlowAR/Base.lproj/Main.storyboard
  FlowAR/FlowgateClient.swift
  FlowAR/Info.plist
  FlowAR/ViewController+ARSessionDelegate.swift
  FlowAR/ViewController.swift
Due: none

detect image and draw a bounding box
  FlowAR.xcodeproj/project.pbxproj
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/Contents.json
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/Scan Nov 11, 2020 at 15.03.arreferenceimage/Contents.json
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/Scan Nov 11, 2020 at 15.03.arreferenceimage/Scan Nov 11, 2020 at 15.03.jpg
  FlowAR/ViewController.swift
  FlowAR/art.scnassets/wireframe_shader.metal
Due: none

Modify pages of SDDCSoftwareConfig
  ui/package.json
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-add/vmware-config-add.component.html
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-add/vmware-config-add.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-edit/vmware-config-edit.component.html
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-edit/vmware-config-edit.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-list/vmware-config-list.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware.module.ts
  ui/src/app/pages/sddcsoftware/sddcsoftware.module.ts
  ui/src/app/pages/servermapping/mapping.module.ts
  ui/src/app/pages/servermapping/servermapping.component.html
  ui/src/app/pages/servermapping/servermapping.component.ts
  ui/src/app/pages/servermapping/servermapping.module.ts
  ui/src/app/pages/user/component/role-list/role-list.component.ts
  ui/src/app/pages/user/component/user-add/user-add.component.ts
  ui/src/app/pages/user/user.module.ts
Due: none

Add mac address for save
  common-restclient/src/main/java/com/vmware/flowgate/client/WormholeAPIClient.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/AssetIPMapping.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/InfoBloxIPInfoResult.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/Infoblox.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/service/InfobloxClient.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: infoblox, api

Add mac address save on the basis of ipv4address WAPI
  common-restclient/src/main/java/com/vmware/flowgate/client/WormholeAPIClient.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/AssetIPMapping.java
  infoblox-worker/pom.xml
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/InfoBloxIPInfoResult.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/Infoblox.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/service/InfobloxClient.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxClientTest.java
Due: infoblox, api

test
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/model/Infoblox.java
Due: infoblox

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

add scan barcode & auto focus
  samples/gltf/app/build.gradle
  samples/gltf/app/src/main/AndroidManifest.xml
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/BarcodeScan.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/YUV420toByteArray.java
  samples/gltf/app/src/main/res/drawable/rounded_bg.xml
Due: none

barcode + flowgate
  samples/gltf/app/build.gradle
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/BarcodeScan.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/flowgate/MySingleton.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/flowgate/flowgateClient.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/flowgate/flowgateClientActor.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/flowgate/flowgateClientWorker.java
Due: none

before dr3
  FlowAR.xcodeproj/project.pbxproj
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/Contents.json
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/Scan Nov 15, 2020 at 16.17 page 1.arreferenceimage/Contents.json
  FlowAR/Assets.xcassets/AR Resources.arresourcegroup/Scan Nov 15, 2020 at 16.17 page 1.arreferenceimage/Scan Nov 15, 2020 at 16.17 page 1.jpg
  FlowAR/Base.lproj/Main.storyboard
  FlowAR/RoundedButton.swift
  FlowAR/StartViewController.swift
  FlowAR/ViewController.swift
  FlowAR/art.scnassets/wireframe_shader.metal
Due: none

Minor changes on function names
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/GltfActivity.java
  samples/gltf/app/src/main/java/com/google/ar/sceneform/samples/gltf/YUV420toBitmap.java
Due: none

Modify pages of Facility-software-config
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.html
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.html
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.html
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.html
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim.module.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-add/vmware-config-add.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-edit/vmware-config-edit.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware.module.ts
Due: none

Modify pages of Server Mapping
  ui/src/app/pages/servermapping/servermapping.component.html
  ui/src/app/pages/servermapping/servermapping.component.ts
Due: none

Modify pages of facility adapter
  ui/src/app/pages/facility/component/cmdb/cmdb-list/cmdb-list.component.html
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.html
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-list/vmware-config-list.component.html
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.html
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.ts
  ui/src/app/pages/setting/component/asset-list/asset-list.component.html
  ui/src/app/pages/setting/component/sensorsetting-list/sensorsetting-list.component.html
  ui/src/app/pages/setting/setting.module.ts
  ui/src/app/pages/user/component/role-list/role-list.component.html
  ui/src/app/pages/user/component/user-list/user-list.component.html
Due: none

Path conditions:
  aggregator: any of: aggregator/
  infoblox: any of: infoblox-worker/
  api: any of: flowgate-api/
  labsdb: any of: labsdb-worker/
  management: any of: management/
  nlyte: any of: nlyte-worker/
  poweriq: any of: poweriq-worker/
  vc: any of: vc-worker/
  vro: any of: vro-worker/
