Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "10...100"

  status:
    project:
      default: false
      aggregator:
        flags:
          - aggregator
        if_not_found: success
        if_ci_failed: error
      infoblox:
        flags:
          - infoblox
        if_not_found: success
        if_ci_failed: error
      api:
        flags:
          - api
        if_not_found: success
        if_ci_failed: error
      labsdb:
        flags:
          - labsdb
        if_not_found: success
        if_ci_failed: error
      management:
        flags:
          - management
        if_not_found: success
        if_ci_failed: error
      nlyte:
        flags:
          - nlyte
        if_not_found: success
        if_ci_failed: error
      poweriq:
        flags:
          - poweriq
        if_not_found: success
        if_ci_failed: error
      vc:
        flags:
          - vc
        if_not_found: success
        if_ci_failed: error
      vro:
        flags:
          - vro
        if_not_found: success
        if_ci_failed: error
    patch: off
    changes: no

flags:
  aggregator:
    paths:
      - aggregator/
    carryforward: true
  infoblox:
    paths:
      - infoblox-worker/
    carryforward: true
  api:
    paths:
      - flowgate-api/
    carryforward: true
  labsdb:
    paths:
      - labsdb-worker/
    carryforward: true
  management:
    paths:
      - management/
    carryforward: true
  nlyte:
    paths:
      - nlyte-worker/
    carryforward: true
  poweriq:
    paths:
      - poweriq-worker/
    carryforward: true
  vc:
    paths:
      - vc-worker/
    carryforward: true
  vro:
    paths:
      - vro-worker/
    carryforward: true

parsers:

  gcov:

    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

add redeploy recommend
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/Greedy.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/NeighborhoodSearch.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/SyncFittingTool.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/basic/Bag.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/basic/Item.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/basic/Neighborhood.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/basic/Samples.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/RecommendTest.java
Due: aggregator

fix bugs
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/NeighborhoodSearch.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/basic/Bag.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/basic/Neighborhood.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/RecommendTest.java
Due: aggregator

delete useless annotations
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/NeighborhoodSearch.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/basic/Item.java
Due: aggregator

add readme
  app_ios/README.md
Due: none

Update url-parse
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/openmanage.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  ui/package-lock.json
  ui/package.json
Due: none

Remove package-lock file
  ui/package-lock.json
Due: none

Update README.md
  README.md
Due: none

Update aggregator.yml
  .github/workflows/aggregator.yml
Due: none

Fix CI
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/openmanage.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  README.md
  aggregator/pom.xml
  aggregator/src/test/resources/logback-spring.xml
  codecov.yml
  common-restclient/pom.xml
  flowgate-api/pom.xml
  flowgate-common/pom.xml
  infoblox-worker/pom.xml
  labsdb-worker/pom.xml
  management/pom.xml
  nlyte-worker/pom.xml
  openmanage/pom.xml
  poweriq-worker/pom.xml
  vc-worker/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

Upgrade JDK from 8 to 11
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/openmanage.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
  aggregator/pom.xml
  common-restclient/pom.xml
  flowgate-api/pom.xml
  flowgate-common/pom.xml
  infoblox-worker/pom.xml
  labsdb-worker/pom.xml
  management/pom.xml
  nlyte-worker/pom.xml
  poweriq-worker/pom.xml
  vc-worker/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

upgrade angular from 10 to 11 Signed-off-by: kuo Pei <kpei@vmware.com>
  ui/angular.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/app.routing.ts
Due: none

upgrade angular from 11 to 12 Signed-off-by: kuo Pei <kpei@vmware.com>
  ui/angular.json
  ui/package-lock.json
  ui/package.json
  ui/src/polyfills.ts
Due: none

upgrade angular from 12 to 13 Signed-off-by: kuo Pei <kpei@vmware.com>
  .gitignore
  ui/angular.json
  ui/package-lock.json
  ui/package.json
  ui/src/polyfills.ts
Due: none

Update ui build base image
  make/maven-docker-build/DockerfileUI
  make/maven-docker-build/buildui.sh
  make/maven-docker-build/buildui.yml
Due: none

Upgrade image jdk
  make/baseimage/Dockerfile
  make/maven-docker-build/Dockerfile
Due: none

Delete package-lock.json
  ui/package-lock.json
Due: none

Add current time in the log
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
Due: nlyte

Fix infoblox login validation error.
  flowgate-api/src/main/java/com/vmware/flowgate/auth/ServerAuth.java
Due: api

Add back the package-lock file for angular
  ui/package-lock.json
Due: none

fix: java command not found in the baseimage of flowgate-v1.2.0
  make/baseimage/Dockerfile
Due: none

fix: java command not found in the baseimage of flowgate-v1.2.0 (#899)
  make/baseimage/Dockerfile
Due: none

Bump webpack from 5.70.0 to 5.76.1 in /ui
  ui/package-lock.json
  ui/package.json
Due: none

Bump lodash.template from 3.6.2 to 4.5.0 in /ui
  ui/package-lock.json
Due: none
