Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

Add a privilege for get latest metric data
  make/database/initData.sh
  make/database/upgradeFrom1.1.2To1.2.sql
Due: none

Fix can't cancel mapping
  ui/src/app/pages/servermapping/servermapping.component.ts
Due: none

Fix outlets is null
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Fix SDDCSoftware password is not desensitized
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/VCenterJobDispatcher.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/VROJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  common-restclient/src/main/java/com/vmware/flowgate/client/WormholeAPIClient.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/SDDCSoftwareController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/SDDCSoftwareControllerTest.java
  make/database/initData.sh
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-edit/vmware-config-edit.component.ts
Due: aggregator, api, nlyte

Display type name when update openmanage integrations
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
Due: none

Throw excepted error message when create sddc integration failed
  flowgate-api/src/main/java/com/vmware/flowgate/service/ServerValidationService.java
Due: api

Check host metric formula is null
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Filter enery consumption by since time
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/util/FilterServerEnergyConsumptionTest.java
Due: api

Check the formula string is null
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/Asset.java
Due: api

Add a test case about host usage formula
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Updata adapter-sample pom flowgate.version
  adapter-sample/pom.xml
Due: none

Set the flowgate-common module to compile with jdk1.8
  flowgate-common/pom.xml
Due: none

Update adapter guide document
  docs/adapter_guide.md
Due: none

merge & remove hackings
  aggregator/src/main/java/com/vmware/flowgate/aggregator/config/ServiceKeyConfig.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/tool/SyncFittingTool.java
  aggregator/src/main/resources/application.properties
  aggregator/src/main/resources/logback-spring.xml
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  flowgate-api/pom.xml
  flowgate-api/src/main/java/com/vmware/flowgate/config/InitializeConfigureData.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/CompareValueUnitByTime.java
  flowgate-api/src/main/resources/application.properties
  flowgate-api/src/main/resources/logback-spring.xml
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-api/src/test/resources/application.properties
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricKeyName.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/MetricData.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/TranslateContext.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/ValueUnit.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/metadata/PredefinedSDDCJobs.java
Due: aggregator, api

Remove invalid unit in adavance setting form
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.html
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.html
Due: none

Add openmanage and custom adapter content into userguide
  docs/images/user guide/openmanage.png
  docs/user_guide.md
Due: none

Modify the trigger time for the predifine jobs
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/metadata/PredefinedSDDCJobs.java
Due: none

Change login image in the user guide
  docs/images/user guide/login.png
Due: none

Update formula when updating asset
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncSensorMetaDataJobTest.java
Due: nlyte, poweriq

Fix ui security vulnerabilities
  ui/package-lock.json
  ui/package.json
Due: none

Upgrade the dns-packet in ui from 1.3.1 to 1.3.4 to fix the security vulnerability
  ui/package-lock.json
Due: none

optimize
  aggregator/pom.xml
  aggregator/src/main/java/com/vmware/flowgate/aggregator/config/ServiceKeyConfig.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorJobDispatcher.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/main/resources/logback-spring.xml
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/SyncFittingTest.java
  flowgate-api/src/main/resources/logback-spring.xml
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/metadata/PredefinedSDDCJobs.java
Due: aggregator, api

Upgrade httpclient to 4.5.13 to fix a security vulnerability
  flowgate-api/pom.xml
  vro-worker/pom.xml
Due: api, vro

Path conditions:
  aggregator: any of: aggregator/
  infoblox: any of: infoblox-worker/
  api: any of: flowgate-api/
  labsdb: any of: labsdb-worker/
  management: any of: management/
  nlyte: any of: nlyte-worker/
  poweriq: any of: poweriq-worker/
  vc: any of: vc-worker/
  vro: any of: vro-worker/
