Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "10...100"

  status:
    project:
      default: false
      aggregator:
        flags:
          - aggregator
        if_not_found: success
        if_ci_failed: error
      infoblox:
        flags:
          - infoblox
        if_not_found: success
        if_ci_failed: error
      api:
        flags:
          - api
        if_not_found: success
        if_ci_failed: error
      labsdb:
        flags:
          - labsdb
        if_not_found: success
        if_ci_failed: error
      management:
        flags:
          - management
        if_not_found: success
        if_ci_failed: error
      nlyte:
        flags:
          - nlyte
        if_not_found: success
        if_ci_failed: error
      poweriq:
        flags:
          - poweriq
        if_not_found: success
        if_ci_failed: error
      vc:
        flags:
          - vc
        if_not_found: success
        if_ci_failed: error
      vro:
        flags:
          - vro
        if_not_found: success
        if_ci_failed: error
    patch: off
    changes: no

flags:
  aggregator:
    paths:
      - aggregator/
    carryforward: true
  infoblox:
    paths:
      - infoblox-worker/
    carryforward: true
  api:
    paths:
      - flowgate-api/
    carryforward: true
  labsdb:
    paths:
      - labsdb-worker/
    carryforward: true
  management:
    paths:
      - management/
    carryforward: true
  nlyte:
    paths:
      - nlyte-worker/
    carryforward: true
  poweriq:
    paths:
      - poweriq-worker/
    carryforward: true
  vc:
    paths:
      - vc-worker/
    carryforward: true
  vro:
    paths:
      - vro-worker/
    carryforward: true

parsers:

  gcov:

    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

Modify build script for openmanage
  make/build.sh
  make/flowgate_init.sh
  make/maven-docker-build/build.sh
  make/maven-docker-build/docker-compose.build.images.yml
  make/maven-docker-build/docker-compose.run.images.yml
  make/openmanage/Dockerfile
  make/openmanage/start.sh
Due: none

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

add android app
  contrib/ar4dcops/app_ios/README.md
Due: none

Fix tomcat CVE-2021-25329
  flowgate-api/pom.xml
  poweriq-worker/pom.xml
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/client/PowerIQAPIClient.java
Due: api, poweriq

Add unit property for MetricData
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/MetricData.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
Due: api

Modify the unit prefix
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/ValueUnit.java
Due: api

Use new metrics unit to instead of the old
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncRealTimeDataJobTest.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
Due: api, nlyte, poweriq, vc

Fix save image issue for build.sh
  make/build.sh
Due: none

Handle temperature metric data
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Populate vc EnergyConsumption Metric Extraidentifier field
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: vc

Update Api doc
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Return all metric data in the specify duration
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/AssetRealtimeDataRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Modify the getServerHostMetric method
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Fix ui vulnerability
  ui/package-lock.json
  ui/package.json
Due: none

Sed redis network info in flowgate build process
  docs/upgradeFrom1.1.2To1.2.md
  make/flowgate_init.sh
  make/maven-docker-build/build.sh
  make/upgrade.sh
Due: none

Checking database connection
  docs/upgradeFrom1.1.2To1.2.md
  make/build.sh
  make/upgrade.sh
Due: none

Script for upgrading flowgate from 1.1.2 to 1.2.0
  docs/upgradeFrom1.1.2To1.2.md
  make/build.sh
  make/upgrade.sh
Due: none

Fix security vulnerability for guava
  flowgate-api/pom.xml
  vro-worker/pom.xml
Due: api, vro

Add findLatestMetricData method
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Upgrade guava to 30.0
  flowgate-api/pom.xml
  vro-worker/pom.xml
Due: api, vro

Modify the realtimedata API to get latest metric data
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

A part of common methods
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Common method
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Change method name
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Add TranslateContext
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/TranslateContext.java
Due: none

Add load metrics into metricsformula for server
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
Due: aggregator

Change TranslateContext formulars -> formula
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/TranslateContext.java
Due: none

Change metric formula key for server
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
Due: aggregator, api

Add formula keys for PDU asset
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
Due: none

Add Translate function
  flowgate-api/pom.xml
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/TranslateFunctionService.java
  flowgate-api/src/test/java/com/vmware/flowgate/service/TranslateFunctionServiceTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/TranslateContext.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/ValueUnit.java
Due: api

Add displayName and formula key map
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Translate to metricData
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/CompareValueUnitByTime.java
Due: api

Prepare translate context for server
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/CompareValueUnitByTime.java
Due: api

Apply function
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: api

Remove pdu metric name format from MetricKeyName
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/TranslateFunctionService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/service/TranslateFunctionServiceTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricKeyName.java
Due: api
