Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

fix
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.html
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.ts
Due: none

dix
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.html
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.ts
Due: none

test codecov
  README.md
Due: none

testcodecov
  README.md
Due: none

make base commit
  codecov.yml
Due: none

rollback codecov yml file
  codecov.yml
Due: none

Fix the data reversed issue in edit facility integration page
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
Due: none

specify branch
  codecov.yml
Due: none

Modify the error message of server validation
  flowgate-api/src/main/java/com/vmware/flowgate/service/ServerValidationService.java
  flowgate-api/src/main/java/com/vmware/flowgate/verifycert/VRopsAuth.java
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/vro/VROBase.java
Due: api, vro

Modify the user guide
  docs/images/user guide/adduser.png
  docs/images/user guide/rolelist.png
  docs/images/user guide/rolelist1.png
  docs/images/user guide/sddc_add.png
  docs/images/user guide/sddc_add2.png
  docs/images/user guide/sddc_list.png
  docs/images/user guide/sddc_syncjob.png
  docs/images/user guide/server_mapping.png
  docs/images/user guide/server_mapping_delete.png
  docs/images/user guide/server_mapping_delete1.png
  docs/images/user guide/server_mapping_other.png
  docs/images/user guide/server_mapping_pdu.png
  docs/images/user guide/server_mapping_sensor.png
  docs/images/user guide/server_mapping_sensor2.png
  docs/images/user guide/server_mapping_server.png
  docs/images/user guide/server_mapping_server1.png
  docs/images/user guide/server_mapping_server2.png
  docs/images/user guide/system_setting_asset_Ip_mapping.png
  docs/images/user guide/system_setting_asset_Ip_mapping1.png
  docs/images/user guide/system_setting_asset_Ip_mapping_delete.png
  docs/images/user guide/system_setting_asset_Ip_mapping_edit.png
  docs/images/user guide/system_setting_asset_Ip_mapping_list.png
  docs/images/user guide/userlist.png
  docs/images/user guide/userprofile.png
Due: none

query vc realtime data
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/RealtimeDataUnit.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/client/VsphereClient.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/VCConstants.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: vc

Update user guide image
  docs/images/user guide/addCmdb.png
  docs/images/user guide/addDcim.png
  docs/images/user guide/addDcim1.png
  docs/images/user guide/addPowerIQ1.png
  docs/images/user guide/addPowerIq.png
  docs/images/user guide/dcimlist.png
  docs/images/user guide/dcimlistnotnull.png
  docs/images/user guide/dcimliststatus.png
Due: none

Clean the dependencies package
  ui/karma.conf.js
  ui/package-lock.json
  ui/package.json
  ui/protractor.config.js
Due: none

Fix cmdb and dcim page modification error
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilitySoftwareController.java
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
Due: api

remove unuseful code
  codecov.yml
Due: none

Clean some useless code and modify the error message
  flowgate-api/src/main/java/com/vmware/flowgate/service/ServerValidationService.java
  ui/src/app/pages/auth/HttpInterceptorService.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-list/cmdb-list.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.ts
  ui/src/app/pages/sddcsoftware/component/vmware/vmware-config-list/vmware-config-list.component.ts
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.ts
Due: api

Use error code to instead of error message
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
Due: none

update user guide
  docs/images/user guide/summary.png
  docs/images/user guide/summary_facility.png
  docs/images/user guide/summary_sensor.png
  docs/images/user guide/summary_sensor_detail.png
  docs/images/user guide/summary_system.png
  docs/images/user guide/system_setting_aggregate_job.png
  docs/images/user guide/system_setting_asset_topology.png
  docs/images/user guide/system_setting_asset_topology1.png
  docs/images/user guide/system_setting_unmapped.png
Due: none

add asset management to user guide
  docs/images/user guide/asset_management.png
  docs/images/user guide/asset_management_add_info.png
  docs/images/user guide/asset_management_add_location.png
  docs/images/user guide/asset_management_delete.png
  docs/images/user guide/asset_management_delete_tips.png
  docs/images/user guide/asset_management_edit.png
  docs/images/user guide/asset_management_edit_advance.png
  docs/images/user guide/asset_management_edit_info.png
  docs/images/user guide/asset_management_list.png
  docs/images/user guide/edit_icon.png
  docs/user_guide.md
Due: none

Fix facilitySoftware password is not desensitized
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/CustomerAdapterJobDispatcher.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/LabsdbJobDispatcher.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/NlyteJobDispatcher.java
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/PowerIQJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  common-restclient/src/main/java/com/vmware/flowgate/client/WormholeAPIClient.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilitySoftwareController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilitySoftwareControllerTest.java
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/jobs/InfoBloxService.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxServiceTest.java
  make/database/initData.sh
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncPduAssetJobTest.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncRealTimeDataJobTest.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncSensorMetaDataJobTest.java
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
Due: aggregator, infoblox, api, nlyte, poweriq

Enhanced realtimedata
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

init openmanage project
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/FacilitySoftwareConfig.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/impl/EventMessageUtil.java
  openmanage/ReadME
  openmanage/pom.xml
  openmanage/src/main/java/com/vmware/flowgate/openmanage/OpenManageApplication.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/config/ServiceKeyConfig.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Chassis.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ChassisSpecificData.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/CommonObject.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Device.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceManagement.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ManagementProfile.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Server.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ServerSpecificData.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/SlotConfiguration.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/redis/RedisConfig.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/redis/RedisMessageReceiver.java
  openmanage/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  openmanage/src/main/resources/application.properties
  openmanage/src/main/resources/logback-spring.xml
  openmanage/src/test/java/com/vmware/flowgate/openmanage/OpenManageApplicationTest.java
Due: none

Host metrics
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
Due: none

Remove the levelFilter for info-log
  flowgate-api/src/main/resources/logback-spring.xml
  infoblox-worker/src/main/resources/logback-spring.xml
Due: infoblox, api

Data model for openmanage
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ChassissResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Device.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceManagement.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ManagementProfile.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ServersResult.java
Due: none

Fix add and edit asset pages do not limit the filling of numeric fields
  ui/src/app/pages/setting/component/asset-add/asset-add.component.html
  ui/src/app/pages/setting/component/asset-edit/asset-edit.component.html
Due: none

Add some data models
  openmanage/src/main/java/com/vmware/flowgate/openmanage/OpenManageApplication.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/config/ServiceKeyConfig.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/AuthInfo.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Chassis.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ChassisSpecificData.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ChassissResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/CommonObject.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Device.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceManagement.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceStatus.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DevicesResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ManagementProfile.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/OdataResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/PowerState.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Server.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ServerSpecificData.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/ServersResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/SlotConfiguration.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/redis/RedisConfig.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/redis/RedisMessageReceiver.java
  openmanage/src/main/resources/application.properties
  openmanage/src/main/resources/logback-spring.xml
  openmanage/src/test/java/com/vmware/flowgate/openmanage/OpenManageApplicationTest.java
Due: none

Filter the outlet metrics value by server used
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Add some methods to get servers and check connection
  openmanage/pom.xml
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceType.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DevicesResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Server.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/redis/RedisConfig.java
Due: none

Test cov for PowerIQ-worker
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncPduAssetJobTest.java
Due: poweriq

fix not generate host metrics formulars
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: vc

Add some methods to valid and create a openManage integration
  flowgate-api/src/main/java/com/vmware/flowgate/auth/OpenManageAuth.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilitySoftwareController.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/ServerValidationService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilitySoftwareControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/EventType.java
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.ts
Due: api

Fix a ui security vulnerability about socket.io
  ui/package-lock.json
  ui/package.json
Due: none

codecov script for openmange
  .github/workflows/openmanage.yml
  codecov.yml
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
Due: none

Add hostMetric in getRealtimedata API
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
Due: api, vc

Path conditions:
  aggregator: any of: aggregator/
  infoblox: any of: infoblox-worker/
  api: any of: flowgate-api/
  labsdb: any of: labsdb-worker/
  management: any of: management/
  nlyte: any of: nlyte-worker/
  poweriq: any of: poweriq-worker/
  vc: any of: vc-worker/
  vro: any of: vro-worker/
