Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro, openmanage

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "10...100"

  status:
    project:
      default: false
      aggregator:
        threshold: 0.05%
        flags:
          - aggregator
        if_not_found: success
        if_ci_failed: error
      infoblox:
        threshold: 0.05%
        flags:
          - infoblox
        if_not_found: success
        if_ci_failed: error
      api:
        threshold: 0.05%
        flags:
          - api
        if_not_found: success
        if_ci_failed: error
      labsdb:
        threshold: 0.05%
        flags:
          - labsdb
        if_not_found: success
        if_ci_failed: error
      management:
        threshold: 0.05%
        flags:
          - management
        if_not_found: success
        if_ci_failed: error
      nlyte:
        threshold: 0.05%
        flags:
          - nlyte
        if_not_found: success
        if_ci_failed: error
      poweriq:
        threshold: 0.05%
        flags:
          - poweriq
        if_not_found: success
        if_ci_failed: error
      vc:
        threshold: 0.05%
        flags:
          - vc
        if_not_found: success
        if_ci_failed: error
      vro:
        threshold: 0.05%
        flags:
          - vro
        if_not_found: success
        if_ci_failed: error
      openmanage:
        threshold: 0.05%
        flags:
          - openmanage
        if_not_found: success
        if_ci_failed: error
    patch: off
    changes: no

flags:
  aggregator:
    paths:
      - aggregator/
    carryforward: true
  infoblox:
    paths:
      - infoblox-worker/
    carryforward: true
  api:
    paths:
      - flowgate-api/
    carryforward: true
  labsdb:
    paths:
      - labsdb-worker/
    carryforward: true
  management:
    paths:
      - management/
    carryforward: true
  nlyte:
    paths:
      - nlyte-worker/
    carryforward: true
  poweriq:
    paths:
      - poweriq-worker/
    carryforward: true
  vc:
    paths:
      - vc-worker/
    carryforward: true
  vro:
    paths:
      - vro-worker/
    carryforward: true
  openmanage:
    paths:
      - openmanage/
    carryforward: true

parsers:

  gcov:

    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

Bump lodash.template from 3.6.2 to 4.5.0 in /ui (#909)
  ui/package-lock.json
Due: none

Uninstall devDependency: karma-remap-istanbul.
  ui/karma.conf.js
  ui/package-lock.json
  ui/package.json
Due: none

Bump ua-parser-js from 0.7.31 to 0.7.33 in /ui
  ui/package-lock.json
Due: none

Remove the deprecated package: protractor&request
  ui/package-lock.json
  ui/package.json
Due: none

Remove the unused dependency: codelyzer
  ui/package-lock.json
  ui/package.json
Due: none

Fix security vulneralbilities.
  openmanage/pom.xml
Due: openmanage

Fix security vulneralbilities.
  openmanage/pom.xml
  openmanage/src/test/java/com/vmware/flowgate/openmanage/OpenManageApplicationTest.java
  openmanage/src/test/java/com/vmware/flowgate/openmanage/jobtest/OpenManageJobTest.java
Due: openmanage

Fix security vulneralbilities. (#921)
  openmanage/pom.xml
  openmanage/src/test/java/com/vmware/flowgate/openmanage/OpenManageApplicationTest.java
  openmanage/src/test/java/com/vmware/flowgate/openmanage/jobtest/OpenManageJobTest.java
Due: openmanage

Fix security vulneralbilities for Flowgate-api.
  flowgate-api/pom.xml
  flowgate-api/src/main/java/com/vmware/flowgate/config/CouchbaseConfig.java
  flowgate-api/src/main/java/com/vmware/flowgate/config/CrossoOriginConfig.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/AssetIPMappingRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/AssetRealtimeDataRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/AssetRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/FacilityAdapterRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/FacilitySoftwareConfigRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/JobsRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/PrivilegeResourcesMappingReposity.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/RoleRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/SDDCSoftwareRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/SensorSettingRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/ServerMappingRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/SystemSummaryRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/UserRepository.java
Due: api

A Test for Flowgate-api.
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Update for test.
  flowgate-api/src/test/resources/application.properties
Due: api

Update for test.
  flowgate-api/src/main/java/com/vmware/flowgate/config/CouchbaseConfig.java
  flowgate-api/src/test/resources/application.properties
Due: api

Update for test case.
  flowgate-api/src/test/resources/application.properties
Due: api

Update for the couchbaseConfig.
  flowgate-api/src/main/java/com/vmware/flowgate/config/CouchbaseConfig.java
Due: api

Update githup workflows.
  .github/workflows/flowgate-api.yml
Due: none

Update for couchbase docker image of test.
  .github/workflows/flowgate-api.yml
Due: none

Update githup workflows.
  .github/workflows/flowgate-api.yml
  flowgate-api/pom.xml
  flowgate-api/src/main/java/com/vmware/flowgate/config/CouchbaseConfig.java
  flowgate-api/src/test/resources/application.properties
Due: api

Fix security vulneralbilities.
  aggregator/pom.xml
  aggregator/src/main/java/com/vmware/flowgate/aggregator/redis/RedisConfig.java
  common-restclient/pom.xml
  infoblox-worker/pom.xml
  infoblox-worker/src/main/java/com/vmware/flowgate/infobloxworker/redis/RedisConfig.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplicationTests.java
  labsdb-worker/pom.xml
  labsdb-worker/src/main/java/com/vmware/flowgate/labsdb/redis/RedisConfig.java
  labsdb-worker/src/test/java/com/vmware/flowgate/labsdb/LabsdbApplicationTests.java
  management/pom.xml
  vro-worker/pom.xml
  vro-worker/src/main/java/com/vmware/flowgate/vroworker/redis/RedisConfig.java
Due: aggregator, infoblox, labsdb, management, vro

Update dependency for nlyteworker
  nlyte-worker/pom.xml
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/redis/RedisConfig.java
Due: nlyte

Update dependency for poweriq-worker
  aggregator/src/main/java/com/vmware/flowgate/aggregator/redis/RedisConfig.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/InfobloxWorkerApplicationTests.java
  infoblox-worker/src/test/java/com/vmware/flowgate/infobloxworker/controller/InfobloxServiceTest.java
  labsdb-worker/src/test/java/com/vmware/flowgate/labsdb/LabsdbApplicationTests.java
  labsdb-worker/src/test/java/com/vmware/flowgate/labsdb/jobtest/SyncWiremapDataJobTest.java
  management/pom.xml
  management/src/main/java/com/vmware/flowgate/management/ManagementPortalApplication.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
  poweriq-worker/pom.xml
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/redis/RedisConfig.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncPduAssetJobTest.java
  vro-worker/src/test/java/com/vmware/flowgate/vroworker/scheduler/job/VROAsyncJobTest.java
  worker-jobs/pom.xml
Due: aggregator, infoblox, labsdb, management, nlyte, poweriq, vro

Fix bug for validate error.
  flowgate-api/pom.xml
Due: api

Fix security vulneralbilities for Flowgate-api.
  .github/workflows/flowgate-api.yml
  flowgate-api/pom.xml
  flowgate-api/src/main/java/com/vmware/flowgate/config/CouchbaseConfig.java
  flowgate-api/src/main/java/com/vmware/flowgate/config/CrossoOriginConfig.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/AssetIPMappingRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/AssetRealtimeDataRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/AssetRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/FacilityAdapterRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/FacilitySoftwareConfigRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/JobsRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/PrivilegeResourcesMappingReposity.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/RoleRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/SDDCSoftwareRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/SensorSettingRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/ServerMappingRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/SystemSummaryRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/UserRepository.java
  flowgate-api/src/test/resources/application.properties
  flowgate-common/pom.xml
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/Asset.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/AssetIPMapping.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/FacilityAdapter.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/FacilitySoftwareConfig.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/JobConfig.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/PrivilegeResourceMapping.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/RealTimeData.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/SDDCSoftwareConfig.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/SensorSetting.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/ServerMapping.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/WormholeRole.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/WormholeUser.java
  make/database/initData.sh
  make/maven-docker-build/database-build/init.sh
Due: api

Update version number to v1.2.1
  adapter-sample/pom.xml
  aggregator/pom.xml
  common-restclient/pom.xml
  docs/upgradeFrom1.1.2To1.2.md
  flowgate-api/pom.xml
  flowgate-common/pom.xml
  infoblox-worker/pom.xml
  labsdb-worker/pom.xml
  make/build.sh
  management/pom.xml
  nlyte-worker/pom.xml
  openmanage/pom.xml
  poweriq-worker/pom.xml
  vc-worker/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro, openmanage

Update version number to v1.2.1 (#931)
  adapter-sample/pom.xml
  aggregator/pom.xml
  common-restclient/pom.xml
  docs/upgradeFrom1.1.2To1.2.md
  flowgate-api/pom.xml
  flowgate-common/pom.xml
  infoblox-worker/pom.xml
  labsdb-worker/pom.xml
  make/build.sh
  management/pom.xml
  nlyte-worker/pom.xml
  openmanage/pom.xml
  poweriq-worker/pom.xml
  vc-worker/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro, openmanage
