Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

New data model for power state
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgatePowerState.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/EventType.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/impl/EventMessageUtil.java
Due: none

Add some methods to valid and create a openManage integration
  flowgate-api/src/main/java/com/vmware/flowgate/auth/OpenManageAuth.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilitySoftwareController.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/ServerValidationService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilitySoftwareControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/EventType.java
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.ts
Due: api

Sync metadata job
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  openmanage/src/test/java/com/vmware/flowgate/openmanage/jobtest/OpenManageJobTest.java
Due: none

Create data model of metrics for openmanage
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceMetric.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceMetricsResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DevicePower.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/DeviceTemperature.java
Due: none

Sync metadata job
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  openmanage/src/test/java/com/vmware/flowgate/openmanage/jobtest/OpenManageJobTest.java
Due: none

Update ApiDoc
  flowgate-api/src/docs/asciidocs/api-guide.adoc
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Fix the assetSource field is null
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
Due: api

Test upload coverage
  .github/workflows/aggregator.yml
  .github/workflows/flowgate-api.yml
  .github/workflows/infoblox-worker.yml
  .github/workflows/labsdb-worker.yml
  .github/workflows/management.yml
  .github/workflows/nlyte-worker.yml
  .github/workflows/openmanage.yml
  .github/workflows/poweriq-worker.yml
  .github/workflows/vc-worker.yml
  .github/workflows/vro-worker.yml
Due: none

Data model for openmanage-plugin
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Duration.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/EntityType.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/MetricType.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/Plugin.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/SortOrder.java
Due: none

Enhance Flowgate Api Doc
  flowgate-api/src/docs/asciidocs/api-guide.adoc
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Create some methods to get metrics data from opemmanage
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
Due: none

Create data model for power setting
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/PowerDisplayUnit.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/PowerManageMetricsRequestBody.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/PowerSetting.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/PowerSettingType.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/TemperatureDisplayUnit.java
Due: none

Fix TestCase expected and actual reverse
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/ResourceWeightComparatorTest.java
Due: api

Remember me function
  ui/src/app/pages/nav/nav.component.ts
  ui/src/app/pages/user-login/user-login.component.html
  ui/src/app/pages/user-login/user-login.component.ts
Due: none

Hide remember me checkbox
  ui/src/app/pages/user-login/user-login.component.html
Due: none

Sync metrics data job
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/ValueUnit.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/CommonResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/PowerSettingType.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  openmanage/src/test/java/com/vmware/flowgate/openmanage/jobtest/OpenManageJobTest.java
Due: none

update flowgate-common
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/Asset.java
Due: none

Modify the flowgate-api and aggregator
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: aggregator, api

Modify asset formula nlyte-worker
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/CleanDataJobTest.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
Due: nlyte

Modify asset formula powerIQ-worker
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncPduAssetJobTest.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncSensorMetaDataJobTest.java
Due: poweriq

Fix metrics formula issue for ui
  ui/src/app/pages/servermapping/asset.module.ts
  ui/src/app/pages/servermapping/servermapping.component.ts
Due: none

Modify asset formula vc-worker
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: vc

Modify the error log
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
Due: nlyte

Add serialization and deserialization method for metric formula in Asset.class
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/Asset.java
Due: none

Fix the asset method permission modifier
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/Asset.java
Due: none

Refactor asset formular on poweriq-worker, vc-worker, nlyte-worker
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
Due: nlyte, poweriq, vc

Format the metric formula
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
Due: aggregator, api

Modify getServerMetricsData to obtain MetricsData according to the formula
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Revert to metricformular
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/AggregatorService.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/AssetService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/Asset.java
  nlyte-worker/src/main/java/com/vmware/flowgate/nlyteworker/scheduler/job/NlyteDataService.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/CleanDataJobTest.java
  nlyte-worker/src/test/java/com/vmware/flowgate/nlyteworker/testjob/SycnRealTimeDataJobTest.java
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncPduAssetJobTest.java
  poweriq-worker/src/test/java/com/vmware/flowgate/poweriqworker/jobtest/SyncSensorMetaDataJobTest.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: aggregator, api, nlyte, poweriq, vc

Update asset data model for ui
  ui/src/app/pages/servermapping/asset.module.ts
  ui/src/app/pages/servermapping/servermapping.component.ts
Due: none

Sync metrics data job
  flowgate-common/src/main/java/com/vmware/flowgate/common/MetricName.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/ValueUnit.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/utils/WormholeDateFormat.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/client/OpenManageAPIClient.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/CommonResult.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/datamodel/PowerSettingType.java
  openmanage/src/main/java/com/vmware/flowgate/openmanage/job/OpenManageJobService.java
  openmanage/src/main/resources/application.properties
  openmanage/src/test/java/com/vmware/flowgate/openmanage/jobtest/OpenManageJobTest.java
Due: none

Cron job for openmanage
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/OpenmanageJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/metadata/PredefinedSDDCJobs.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/impl/EventMessageUtil.java
Due: aggregator

Sql for flowgate upgrade 1.1.2 to 1.2
  make/database/upgradeFrom1.1.2To1.2.sql
Due: none

Scan and Fix vulnerabilities for ui
  ui/package-lock.json
  ui/package.json
Due: none

Update the flowgate version
  aggregator/pom.xml
  common-restclient/pom.xml
  flowgate-api/pom.xml
  flowgate-common/pom.xml
  infoblox-worker/pom.xml
  labsdb-worker/pom.xml
  management/pom.xml
  nlyte-worker/pom.xml
  openmanage/pom.xml
  poweriq-worker/pom.xml
  vc-worker/pom.xml
  vro-worker/pom.xml
  worker-jobs/pom.xml
Due: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

Change unit format from RealtimeDataUnit to MetricUnit
  openmanage/src/main/resources/application.properties
  poweriq-worker/src/main/java/com/vmware/flowgate/poweriqworker/jobs/PowerIQService.java
Due: poweriq

Fix ui vulnerability
  ui/package-lock.json
Due: none

Get power related metrics from vc and save
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/ValueUnit.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/VCConstants.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: vc

Initialize the ar4dcops project
  contrib/ar4dcops/README
Due: none

Path conditions:
  aggregator: any of: aggregator/
  infoblox: any of: infoblox-worker/
  api: any of: flowgate-api/
  labsdb: any of: labsdb-worker/
  management: any of: management/
  nlyte: any of: nlyte-worker/
  poweriq: any of: poweriq-worker/
  vc: any of: vc-worker/
  vro: any of: vro-worker/
