Repository vmware/flowgate: changes, and which Codecov flags are due for each by the changed paths.
All: aggregator, infoblox, api, labsdb, management, nlyte, poweriq, vc, vro

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "10...100"

  status:
    project:
      default: false
      aggregator:
        threshold: 0%
        flags:
          - aggregator
      infoblox:
        threshold: 0%
        flags:
          - infoblox
      api:
        threshold: 0%
        flags:
          - api
      labsdb:
        threshold: 0%
        flags:
          - labsdb
      management:
        threshold: 0%
        flags:
          - management
      nlyte:
        threshold: 0%
        flags:
          - nlyte
      poweriq:
        threshold: 0%
        flags:
          - poweriq
      vc:
        threshold: 0%
        flags:
          - vc
      vro:
        threshold: 0%
        flags:
          - vro
    patch: yes
    changes: no

flags:
  aggregator:
    paths:
      - aggregator/
    carryforward: true
  infoblox:
    paths:
      - infoblox-worker/
    carryforward: true
  api:
    paths:
      - flowgate-api/
    carryforward: true
  labsdb:
    paths:
      - labsdb-worker/
    carryforward: true
  management:
    paths:
      - management/
    carryforward: true
  nlyte:
    paths:
      - nlyte-worker/
    carryforward: true
  poweriq:
    paths:
      - poweriq-worker/
    carryforward: true
  vc:
    paths:
      - vc-worker/
    carryforward: true
  vro:
    paths:
      - vro-worker/
    carryforward: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "diff,flags,files"
  behavior: new
  require_changes: no
  require_head: no
  require_base: no

update initData.sh
  make/database/initData.sh
Due: none

Fix a security vulnerability
  ui/package-lock.json
  ui/package.json
Due: none

edit page add Advance raw data
  ui/src/app/pages/setting/component/asset-add/asset-add.component.html
  ui/src/app/pages/setting/component/asset-edit/asset-edit.component.html
  ui/src/app/pages/setting/component/asset-edit/asset-edit.component.ts
  ui/src/app/pages/setting/component/asset-modules/asset.module.ts
Due: none

Update README.md
  README.md
Due: none

Fix test case
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilityAdapterController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilityAdapterControllerTest.java
Due: api

UI pages for adapter management
  ui/src/app/pages/nav/nav.component.html
  ui/src/app/pages/nav/nav.component.ts
  ui/src/app/pages/setting/component/adaptertype/adapter-job-command.module.ts
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.html
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.scss
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.ts
  ui/src/app/pages/setting/component/adaptertype/facility-adapter.module.ts
  ui/src/app/pages/setting/component/adaptertype/facility-adapter.service.ts
  ui/src/app/pages/setting/setting.module.ts
  ui/src/app/pages/setting/setting.routing.ts
Due: none

Fix security vulnerability
  ui/package-lock.json
  ui/package.json
Due: none

delete servermapping after delete integretion
  flowgate-api/src/main/java/com/vmware/flowgate/controller/SDDCSoftwareController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/SDDCSoftwareControllerTest.java
Due: api

Support sort in HostMapping page
  ui/src/app/pages/servermapping/servermapping.component.html
Due: none

Update ui pages of adapter
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.html
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.ts
  ui/src/app/pages/setting/component/adaptertype/facility-adapter.module.ts
Due: none

Refactor the method of remove adapter
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilityAdapterController.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/FacilitySoftwareConfigRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/service/FacilityAdapterService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AuthControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilityAdapterControllerTest.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/FlowgateConstant.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/FacilityAdapter.java
Due: api

Valide the service keys
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AuthController.java
  flowgate-api/src/main/java/com/vmware/flowgate/controller/FacilityAdapterController.java
  flowgate-api/src/main/java/com/vmware/flowgate/repository/FacilityAdapterRepository.java
  flowgate-api/src/main/java/com/vmware/flowgate/security/service/AccessTokenService.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AuthControllerTest.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/FacilityAdapterControllerTest.java
  make/database/initData.sh
Due: api

Select a adapter type when create integrations
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.html
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.html
  ui/src/app/pages/facility/component/cmdb/cmdb-edit/cmdb-edit.component.ts
  ui/src/app/pages/facility/component/cmdb/cmdb-list/cmdb-list.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.html
  ui/src/app/pages/facility/component/dcim/dcim-add/dcim-add.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.html
  ui/src/app/pages/facility/component/dcim/dcim-edit/dcim-edit.component.ts
  ui/src/app/pages/facility/component/dcim/dcim-list/dcim-list.component.ts
  ui/src/app/pages/facility/component/dcim/dcim.service.ts
  ui/src/app/pages/facility/facility.module.ts
Due: none

Select a adapter type when create integrations
  ui/src/app/pages/facility/component/cmdb/cmdb-add/cmdb-add.component.ts
  ui/src/app/pages/nav/nav.component.html
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.html
Due: none

Integrate with EdgeXfoundry
  contrib/EdgeXfoundry/Integrate-with-EdgeXfoundry.md
  contrib/EdgeXfoundry/app/adapter.py
  contrib/EdgeXfoundry/app/api/config.py
  contrib/EdgeXfoundry/app/api/flowgateapi.py
  contrib/EdgeXfoundry/app/requirements.txt
  contrib/EdgeXfoundry/conf/sensordata.service
  contrib/EdgeXfoundry/images/DTH11_connect.jpg
  contrib/EdgeXfoundry/images/architecture.jpg
  contrib/EdgeXfoundry/images/asset_id_url.png
  contrib/EdgeXfoundry/images/asset_sensor.png
  contrib/EdgeXfoundry/images/asset_server.png
  contrib/EdgeXfoundry/images/edit_server.png
  contrib/EdgeXfoundry/images/get_sensor_id.png
  contrib/EdgeXfoundry/images/raw_data.png
  contrib/EdgeXfoundry/images/raw_data_checkbox.png
  contrib/EdgeXfoundry/images/server_id.png
  contrib/EdgeXfoundry/sensor/DTH11.py
Due: none

Fix some security vulnerabilities for ui
  ui/package-lock.json
  ui/package.json
Due: none

Template project of adapter
  adapter-sample/ReadME
  adapter-sample/pom.xml
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/CustomerAdapterApplication.java
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/client/AdapterClient.java
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/job/AdapterJobService.java
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/redis/RedisConfig.java
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/redis/RedisMessageReceiver.java
  adapter-sample/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  adapter-sample/src/main/resources/application.properties
  adapter-sample/src/main/resources/logback-spring.xml
  adapter-sample/src/test/java/com/vmware/flowgate/adapter/AdapterApplicationTest.java
Due: none

Fix security vulnerability about handlebars
  ui/package-lock.json
Due: none

fix security vulnerability
  contrib/EdgeXfoundry/app/requirements.txt
Due: none

Trigger the customer adapters to execute jobs
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/CustomerAdapterJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  aggregator/src/test/resources/application.properties
  common-restclient/src/main/java/com/vmware/flowgate/client/WormholeAPIClient.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/metadata/PredefinedSDDCJobs.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/impl/EventMessageUtil.java
Due: aggregator

Use annotation to replace properties file
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
  aggregator/src/test/resources/application.properties
Due: aggregator

Modify the button content
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.html
Due: none

Upgrade the version of http-proxy
  ui/package-lock.json
Due: none

Remove local cache
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/CustomerAdapterJobDispatcher.java
  aggregator/src/test/java/com/vmware/flowgate/aggregator/MessageProcessingTest.java
Due: aggregator

Add some comments for adapter-sample
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/client/AdapterClient.java
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/datamodel/MyDataModel1.java
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/job/AdapterJobService.java
Due: none

Modify the connection couchbase timeout value
  flowgate-api/src/main/resources/application.properties
Due: api

vsphere job
  aggregator/src/main/java/com/vmware/flowgate/aggregator/scheduler/job/VCenterJobDispatcher.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/metadata/PredefinedSDDCJobs.java
  flowgate-common/src/main/java/com/vmware/flowgate/common/model/redis/message/impl/EventMessageUtil.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/client/VsphereClient.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/VCConstants.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/model/VCHostMetadata.java
  vc-worker/src/main/java/com/vmware/flowgate/vcworker/scheduler/job/VCDataService.java
  vc-worker/src/test/java/com/vmware/flowgate/vcworker/VCDataServiceTest.java
Due: aggregator, vc

Add a method to check conncetion
  adapter-sample/src/main/java/com/vmware/flowgate/adapter/job/AdapterJobService.java
Due: none

use the asset name to replace the asset id for servermapping
  flowgate-api/src/main/java/com/vmware/flowgate/controller/AssetController.java
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Initial commit
  README.md
Due: none

Modify the adapter_guide
  docs/adapter_guide.md
Due: none

Initial Commit
  FlowAR.xcodeproj/project.pbxproj
  FlowAR.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  FlowAR.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  FlowAR.xcodeproj/xcuserdata/zhoushuyi.xcuserdatad/xcschemes/xcschememanagement.plist
  FlowAR/AppDelegate.swift
  FlowAR/Assets.xcassets/AppIcon.appiconset/Contents.json
  FlowAR/Assets.xcassets/Contents.json
  FlowAR/Base.lproj/LaunchScreen.storyboard
  FlowAR/Base.lproj/Main.storyboard
  FlowAR/Experience.rcproject/Library/ProjectLibrary/Contents.json
  FlowAR/Experience.rcproject/Library/ProjectLibrary/Version.json
  FlowAR/Experience.rcproject/SceneThumbnails/F9610871-0955-494F-A5C3-51D1A281BAB3
  FlowAR/Experience.rcproject/SceneThumbnails/F9610871-0955-494F-A5C3-51D1A281BAB3.thumbnails/square
  FlowAR/Experience.rcproject/SceneThumbnails/F9610871-0955-494F-A5C3-51D1A281BAB3.thumbnails/wide
  FlowAR/Experience.rcproject/com.apple.RCFoundation.Project
  FlowAR/Info.plist
  FlowAR/ViewController.swift
  FlowARTests/FlowARTests.swift
  FlowARTests/Info.plist
  FlowARUITests/FlowARUITests.swift
  FlowARUITests/Info.plist
Due: none

Fix test failing
  flowgate-api/src/test/java/com/vmware/flowgate/controller/AssetControllerTest.java
Due: api

Clear search result after the assets-list page is closed
  ui/src/app/pages/nav/nav.component.html
  ui/src/app/pages/servermapping/servermapping.component.html
  ui/src/app/pages/servermapping/servermapping.component.ts
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.ts
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.ts
Due: none

Fix the ui style in new adapter page
  ui/src/app/pages/setting/component/adaptertype/adaptertype-list/facility-adapter-list.component.html
  ui/src/app/pages/setting/component/trigger-job/trigger-job.component.html
Due: none
